<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="X-UA-Compatible" content="IE=11">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Receipt Keeper - MSD Capstone Project</title>
 
   <!-- Bootstrap -->
  <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/user-chart-dashboard.css" rel="stylesheet">
  <link href="vendor/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">  

  <!-- Custom CSS -->
  <link href="css/custom1.css" rel="stylesheet">  
 
   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
    <!--<script src="http://code.angularjs.org/1.4.4/angular.min.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Mitr|Proza+Libre|Hind+Madurai|Source+Sans+Pro" rel="stylesheet">
    <style>
      .page-title{
        font-family: 'Mitr', sans-serif;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px #aaa;
      }
      .footer, .nav {
        font-family: 'Proza Libre', sans-serif;
      }
      .nav-logo {
        font-family: 'Proza Libre', sans-serif;
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        color: white;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-top: 15px;               
      }
      .nav-logo:hover,
      .nva-logo:focus,
      .nav-logo:visited,
      .nav-logo:link {
        color: white;
        text-decoration: none; 
      } 
      .fade.in{
          opacity: 1;
      }
      .modal-backdrop.in {
          opacity: .5 !important;
      }
      .modal-backdrop.fade {
          opacity: .5  !important;
      }
      .modal-header {
          padding: 10px;
          border-bottom: 1px solid #e5e5e5;
      }   
    </style>    
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-file-upload/angular-file-upload.min.js"></script>   
    <link rel="stylesheet" href="vendor/jqcloud2/dist/jqcloud.min.css"> 
 </head>
<body ng-app="app" id="page-top">

  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header page-scroll">
        <div class="navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand page-scroll nav-logo" href="#page-top">
            <i class="glyphicon glyphicon-list-alt" style="font-size: 0.9em;margin-right:5px;"></i>
            RECEIPT KEEPER
          </a>      
        </div> 
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li class="staticNavMenu" ng-hide="currentUser">
            <a class="page-scroll" href="#services">
              <i class="glyphicon glyphicon-blackboard"></i>
              Services
            </a>
          </li>  
          <li class="staticNavMenu" ng-hide="currentUser">
            <a class="page-scroll" href="#Tech">
              <i class="glyphicon glyphicon-briefcase"></i>
              Tech.
            </a>
          </li> 
          <li class="staticNavMenu" ng-hide="currentUser">
            <a class="page-scroll" href="#Process">
              <i class="glyphicon glyphicon-tasks"></i>
              Process
            </a>
          </li>          
          <li class="staticNavMenu" ng-hide="currentUser">
            <a class="page-scroll" href="#team">
              <i class="fa fa-users" aria-hidden="true"></i>
              Team
            </a>
          </li>  
          <li ng-hide="currentUser" ng-controller="ModalLoginCtrl">
            <a>
              <i class="glyphicon glyphicon-user"></i>
              <span ng-click="open()" style="cursor:pointer;">Log In</span>
            </a>
          </li>         
          <li class="userMenu" ng-show="currentUser">
            <a href="/#/chart" style="padding-right:11px;padding-left:11px;">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Charts
            </a>
          </li>   
          <li class="userMenu" ng-show="currentUser">
            <a href="/#/Receipts" style="padding-right:11px;padding-left:11px;">
              <i class="fa fa-barcode" aria-hidden="true"></i>  
              Receipts
            </a>
          </li>
          <li class="userMenu" ng-show="currentUser">
            <a href="/#/Groups" style="padding-right:11px;padding-left:11px;">
              <i class="fa fa-users" aria-hidden="true"></i>
              Groups
            </a>
          </li>  
          <li ng-show="currentUser" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="padding-right:11px;padding-left:11px;">
              <i class="glyphicon glyphicon-inbox"></i>
              Config <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">         
              <li>
                <a href="/#/Categories">
                  <i class="glyphicon glyphicon-duplicate"></i>
                  Categories
                </a>
              </li> 
              <li>
                <a href="/#/Stores">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                  Stores
                </a>
              </li>                              
              <li>
                <a href="/#/Tags">
                  <i class="fa fa-tags" aria-hidden="true"></i>
                  Tags
                  </a>
              </li>
            </ul>
          </li>
          <li ng-show="currentUser" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-user"></i>
              User
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">  
              <li ng-show="currentUser">
                <a href="/#/Dashboard">
                  <i class="glyphicon glyphicon-dashboard"></i> 
                  Dashboard
                </a>
              </li>                
              <li class="divider"></li>           
              <li ng-show="currentUser">
                <a rel="nofollow" href="/#/Logout">
                  <i class="glyphicon glyphicon-log-out"></i> 
                  Log out
                </a>
              </li>            
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Header -->
<header>
  <div class="container">
      <div class="intro-text">
          <div class="intro-lead-in">Welcome To Receipt Keeper!</div>
          <div class="intro-heading">Manage your receipts easier</div>
          <a href="#services" class="page-scroll btn btn-xl">Learn More</a>
      </div>
  </div>
</header>

<!-- include content -->
<div ui-view></div> 

<!-- Login Modal Window -->
<div ng-controller="ModalLoginCtrl">
    <script type="text/ng-template" id="ModalLogin.html">
        <div class="modal-header">
            <h1 class="page-title text-center">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Log In
            </h1>
        </div>
        <div class="modal-body">
            <div class="row" style="margin:25px;">
              <form name="loginForm">
                <div class="form-group" 
                    ng-class="{'has-error': (loginForm.email.$invalid && loginForm.email.$dirty) ||
                              (loginForm.password.$invalid && loginForm.password.$dirty) }">

                  <div class="row" style="margin-right: 0;margin-left: 0;">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" required 
                        ng-model="user.email" name="email" placeholder="Email">
                    <span class="has-error control-label" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
                      Email is required.
                    </span>      
                  </div>
                  <div class="row" style="margin-right: 0;margin-left: 0;">
                    <label for="password">Password</label>      
                    <input class="form-control" type="password" required 
                        ng-model="user.password" name="password" placeholder="Password"> 
                    <span class="has-error control-label" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
                      Password is required.
                    </span>  
                  </div>             
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login()">Log In</button>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
              </form> 
              <p>New user? 
                <a ><span ng-click="signup()" style="cursor:pointer;">Sign up here!</span></a> 
              </p>
            </div>
        </div>
    </script>
</div>
<!-- Login Modal Window -->
<div id="loginErrorMessage" class="alert alert-danger fade">
  <a href="" class="close" data-dismiss="alert"></a>
  <i class="glyphicon glyphicon-info-sign text-danger"></i>
  <strong>Note:</strong> Email or passowrd is invalid.
</div>

  <div id="footwrap">
    <div class="container">
      <div class="row">
      
        <div class="col-sm-2 col-sm-offset-1">
          <h5>CONTACT</h5>
        </div>
        <div class="col-sm-6">
          <h5>Email</h5>
          <ul>
            <li>Cchoi1803@conestogac.on.ca</li> 
            <li>Hnahhal2602@conestogac.on.ca </li>
            <li>Ncollins9293@conestogac.on.ca </li>
            <li>Skim0082@conestogac.on.ca </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>SOURCE LINKS</h5>
          <p>
            <a href="https://github.com/infomat/capstone_web" target="_blank">
              <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/infomat/capstone_android" target="_blank">
              <i class="fa fa-android fa-3x" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #footer -->
  
  <div id="bottom-line">
    <div class="container">
      <p>Spring/Summer 2016 Capstone Project by <a href="https://github.com/infomat/capstone" target="_blank">Group 2 of Mobile Solutions Development </a></p>
    </div>
  </div> 

  <script src="vendor/jquery/dist/jquery.js"></script>    
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>  
  <script src="vendor/angular/angular.js"></script>  
  <script src="vendor/angular-resource/angular-resource.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>  
  <!-- date picker -->
  <script type="text/javascript" src="vendor/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <script src="js/app.js"></script>
  <script src="js/services/lb-services.js"></script> 
  <script src="js/services/auth.js"></script>
  <script src="js/services/intro-header.js"></script>
  <script src="js/controllers/index.js"></script>
  <script src="js/controllers/store.js"></script>
  <script src="js/controllers/receipt.js"></script>
  <script src="js/controllers/item.js"></script>
  <script src="js/controllers/user.js"></script>
  <script src="js/controllers/file.js"></script>
  <script src="js/controllers/tag.js"></script>
  <script src="js/controllers/group.js"></script>
  <script src="js/controllers/category.js"></script>
  <script src="js/controllers/dashboard.js"></script>
  <script src="vendor/json3/lib/json3.min.js"></script>
  <script src="vendor/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="vendor/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="vendor/Chart.js/Chart.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="js/assets/jquery.easing.min.js"></script>
  <script src="js/assets/classie.js"></script>
  <script src="js/assets/cbpAnimatedHeader.js"></script>  
  <!-- Custom Theme JavaScript -->
  <script src="js/assets/custom1.js"></script>
  <!-- JQCloud -->
  <!--<script src="vendor/jqcloud2/dist/jqcloud.min.js"></script>-->
  <script src="vendor/jqcloud2/src/jqcloud.js"></script>
  <!-- Combo Chart using High Chart -->
  <script src="js/assets/highcharts.js"></script>
  <script src="js/assets/exporting.js"></script>  
  <!-- jsPDF -->
  <script src="js/assets/jspdf.min.js"></script>    
  <!-- Collection of public function across controllers  -->
  <script src="js/services/receipt-services.js"></script> 

 </body>
</html>