body {
 padding-top:50px;
}
.glyphicon-remove:hover {
 cursor:pointer;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
}

.checkbox span {
    margin-left: 20px;
    font-weight: normal;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
    border: dotted 3px green;
}

html, body {
    height: 100%;
}