<h1>{{ action }} Group</h1>
<hr>
<form name="groupForm" novalidate ng-submit="submitForm()">
  <div class="form-group" ng-class="{'has-error': groupForm.name.$invalid && groupForm.name.$dirty}">
    <input type="text" class="form-control" name="name" 
        placeholder="Group name" autocomplete="off" required
        ng-model="group.name">
    <span class="has-error control-label" ng-show="groupForm.name.$invalid && groupForm.name.$dirty">
      Group name is required.
    </span>        
  </div>
  <button class="btn btn-default" ng-disabled="groupForm.$invalid" ng-hide="isDisabled" ng-disabled="isDisabled">{{ action }} Group</button>
</form>
<hr>