<div class="container">
<section>
<div class="container">
<h1 class="page-title">
	<i class="fa fa-users" aria-hidden="true"></i>
	View Group
</h1>
<hr>
<!--
<div class="row" style="margin-bottom:20px;">
	<div class="col-sm-3">
		<button class="btn btn-default"  ng-click="backToPage()">
			<i class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></i> 
			Back
		</button>
	</div>
</div>
-->	
<form name="groupForm" novalidate>

	<div>
	    <div class="tabcontent">

			<div class="row">
				<label class="col-sm-3 control-label">Group name</label>
				<div  class="col-sm-9"> 
					{{group.name}}
				</div>
			</div>
			<div class="row">
				<label class="col-sm-3 control-label">Description</label>
				<div class="col-sm-9" style="white-space: pre-line;"> 
					{{group.description}} 
				</div>
			</div> 	
			<div class="row">
				<div class="col-sm-offset-3 col-sm-9">
				<hr style="margin-top:5px;margin-bottom:10px;">
				</div>			
				<label class="col-sm-3 control-label">Member limitation</label>
				<div  class="col-sm-3"> 
					{{group.grouptype.limitedMember}}
				</div>
				<label class="col-sm-3 control-label">Receipt limitation</label>
				<div  class="col-sm-3"> 
					{{group.grouptype.limitedReceipt}}
				</div>		 
			</div>  
			<div class="row" ng-show="members">
				<div class="col-sm-offset-3 col-sm-9">
				<hr style="margin-top:5px;margin-bottom:10px;">
				</div>
				<label class="col-sm-3 control-label">Member list</label>
				<div class="col-sm-9">
					
						<span class="gh-tag" ng-repeat="member in members" 
							style="font-size:100;padding-left:10px;padding-right:10px;margin-right:7px;cursor:default;">
							{{member.email}} 
							{{member.id == group.ownerId ? '(Owner)' : ''}}
						</span>
					
				</div>
			</div> 

		</div>
	</div>

	<div class="row" style="margin-top:20px;">
		<div class="col-sm-3">
			<button class="btn btn-default"  ng-click="backToPage()">
				<i class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></i> 
				Back
			</button>
		</div>
		<div ng-show="isEnabled" class="col-sm-9">
			<button class="btn btn-primary pull-right" 
				ui-sref="editGroup({id: group.id})">
				<i class="glyphicon glyphicon-edit"></i>
				Edit Group
			</button>			
		</div>	
		<div ng-show="isLeave" class="col-sm-6">
			<button class="btn btn-default pull-right" 
				ui-sref="groupReceipts({
				groupId: group.id, 
				ownerId: group.ownerId, 
				groupName: group.name})">
				<i class="fa fa-barcode" aria-hidden="true"></i>
				Group Receipts
			</button>						
		</div>
		<div ng-show="isLeave" class="col-sm-3">
			<button class="btn btn-default pull-right" 
				ui-sref="groupChart({
				groupId: group.id, 
				ownerId: group.ownerId, 
				groupName: group.name})">
				<i class="fa fa-bar-chart" aria-hidden="true"></i>
				Group Charts
			</button>			
		</div>
		<!--						
		<div ng-show="isLeave" class="col-sm-3">
			<button class="btn btn-danger" ng-click="leaveGroup('#requestLeave')">
				Leave Group
			</button>			
		</div>	
		-->		
	</div>
	<div class="row" ng-show="isEnabled">
	    <div class="col-sm-12 text-center">
	    <hr>
	    </div>
        <div class="col-sm-12 text-center">
            <div class="list-group list-group-horizontal">
                <a ui-sref="groupReceipts({
                groupId: group.id, 
                ownerId: group.ownerId, 
                groupName: group.name})" 
                	class="list-group-item">
                	<i class="fa fa-barcode" aria-hidden="true"></i>
                	Group Receipts
                </a>
                <a ui-sref="groupChart({
                groupId: group.id, 
                ownerId: group.ownerId, 
                groupName: group.name})" 
                	class="list-group-item">
                	<i class="fa fa-bar-chart" aria-hidden="true"></i>
                	Group Charts
                </a>                	                	
                <a ui-sref="groupCategories({
                groupId: group.id, 
                ownerId: group.ownerId, 
                groupName: group.name})" 
                	class="list-group-item">
                	<i class="fa fa-files-o" aria-hidden="true"></i>
                	Group Categories
                </a>
                <a ui-sref="groupStores({
                groupId: group.id, 
                ownerId: group.ownerId, 
                groupName: group.name})" 
                	class="list-group-item">
                	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
                	Group Stores
                </a>
                <a ui-sref="groupTags({
                groupId: group.id, 
                ownerId: group.ownerId, 
                groupName: group.name})"
                 	class="list-group-item">
                 	<i class="fa fa-tags" aria-hidden="true"></i>
                 	Group Tags
                 </a>
            </div>
        </div>								
	</div>
	<!-- flash message -->
	<div id="requestLeave" class="alert alert-info fade">
    	<a href="" class="close" data-dismiss="alert"></a>
    	<i class="glyphicon glyphicon-info-sign text-info"></i>
    	<strong>Note: </strong>Request for leaving group has been sent successfully.
	</div>
	<!-- flash message -->
</form>



</div>
</section>
</div>
<!-- Group menu button style -->
<style>
	div.tabcontent{
		background-color:white ;
		padding : 30px 40px 30px 40px;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
	div.tabcontent .row{
		 margin-top: 10px;
		 margin-bottom: 10px;
	}
	.list-group-horizontal .list-group-item {
	    display: inline-block;	
		margin-bottom: 0;
		margin-left:-5px;
		margin-right: 0;
		padding-top:7px;
		padding-bottom:7px;
		padding-left:10px;
		padding-right:10px;
	}
	.list-group-horizontal .list-group-item:first-child {
		border-top-right-radius:0;
		border-bottom-left-radius:4px;
	}
	.list-group-horizontal .list-group-item:last-child {
		border-top-right-radius:4px;
		border-bottom-left-radius:0;
	}
	.list-group-horizontal .list-group-item:hover,
	.list-group-horizontal .list-group-item:focus {
	  background-color: #e0e0e0;
	  border-color: #ccc;
	}	
</style>
<!-- Group menu button style -->
