<div class="container">
<section>
<div class="container">
<h1 class="page-title">
	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	{{ action }} {{groupName}} Tag
</h1>
<hr>
<div class="row" style="margin-bottom:20px;">	
	<div class="col-sm-2">
		<button class="btn btn-default"  ng-click="backToPage()">
			<i class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></i> 
			Back
		</button>
	</div>	
</div>
<form name="tagForm" novalidate>
	<div>
		<div class="tabcontent" >	
		<div class="form-group" ng-class="{'has-error': tagForm.name.$invalid && tagForm.name.$dirty}">
			<div class="row">
				<label class="col-sm-3 control-label">Tag name</label>
				<div  class="col-sm-9">  
				    <input type="text" class="form-control" name="name" 
				        placeholder="Name" autocomplete="off" required
				        maxlength="30" ng-model="tagname">
				    <span class="has-error control-label" ng-show="tagForm.name.$invalid && tagForm.name.$dirty">
				      Tag name is required.
				    </span> 
			    </div>
			</div>
		</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div  class="col-sm-3">
				<button class="btn btn-default"  ng-click="backToPage()">
					<i class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></i> 
					Back
				</button>
			</div>		
			<div class="col-sm-3">
				<button 
					ng-hide="!tag.id" 
					class="btn btn-primary" 
					ng-disabled="tagForm.$invalid" 
					ng-click="submitForm()">
					<i class="glyphicon glyphicon-edit"></i>
					{{ action }} Tag
				</button>
			</div>	
			<div class="col-sm-6">
				<button 
					ng-hide="tag.id" 
					class="btn btn-primary pull-right" 
					ng-disabled="tagForm.$invalid" 
					ng-click="submitForm()">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
					Add Tag
				</button>
				<!--
				<button  
					ng-show="tag.id" 
					class="btn btn-default pull-right" 
					ng-disabled="tagForm.$invalid" 
					ng-click="deleteTag()">
					<i class="fa fa-minus-circle" aria-hidden="true"></i>
					Delete Tag
				</button>
				-->
				<span class=" pull-right" 
					data-toggle="tooltip" 
					tooltip-html-unsafe="{{delTooltip}}">			
					<a 
						ng-show="tag.id" 
						class="btn btn-default" 
						ng-disabled="disableDelete" 
						ng-click="deleteTag()">
						<i class="fa fa-minus-circle" aria-hidden="true"></i>
						Delete Tag
					</a>
				</span>				
			</div> 
		</div>
	</div>			  		
</form>
</div>
</section>
</div>
<div id="deleteTagErrorMessage" class="alert alert-danger fade">
  <a href="" class="close" data-dismiss="alert"></a>
  <i class="glyphicon glyphicon-info-sign text-danger"></i>
  <strong>Note:</strong> Tag is already used by Receipt(s).
</div>
<div id="addTagErrorMessage" class="alert alert-danger fade">
  <a href="" class="close" data-dismiss="alert"></a>
  <i class="glyphicon glyphicon-info-sign text-danger"></i>
  <strong>Note:</strong> Tag name already exists.
</div>
<script>
	$('span').tooltip({
	    'placement': 'top'
	});
</script>
<style>
	.btn.disabled {
	    pointer-events: all !important;
	}
	div.tabcontent{
		background-color:white ;
		padding : 30px 40px 20px 40px;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
	div.tabcontent .row{
		 margin-top: 10px;
		 margin-bottom: 10px;
	}	
</style>