<div class="container">
<section>
<div class="container">
  <h1 class="page-title">
    <i class="fa fa-sign-in" aria-hidden="true"></i>
    Log In
  </h1>
  <hr>
  <div class="tabcontent">
    <div class="row" style="margin:20px;">
      <div class="col-md-6 col-md-offset-3">
        <form name="loginForm" ng-submit="login()">
          <div class="form-group" 
              ng-class="{'has-error': (loginForm.email.$invalid && loginForm.email.$dirty) ||
                        (loginForm.password.$invalid && loginForm.password.$dirty) }">

            <div class="row">
            <label for="email">
              <i class="fa fa-envelope-o" aria-hidden="true"></i> 
              Email
            </label>
            <input class="form-control" type="email" required 
                ng-model="user.email" name="email" placeholder="Email" maxlength="50">
            <span class="has-error control-label" ng-show="loginForm.email.$invalid && loginForm.email.$dirty" style="margin-bottom:15px;">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Email is required.
            </span>      
            </div>
            <div class="row">
            <label for="password">
              <i class="fa fa-key" aria-hidden="true"></i> 
              Password
            </label>      
            <input class="form-control" type="password" required 
                ng-model="user.password" name="password" placeholder="Password" maxlength="30"> 
            <span class="has-error control-label" ng-show="loginForm.password.$invalid && loginForm.password.$dirty" style="margin-bottom:15px;">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Password is required.
            </span>  
            </div>       
         
          </div>
          <div class="row">
            <button class="btn btn-primary" ng-disabled="loginForm.$invalid">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Log In
            </button>
          </div>
        </form>    

      </div>
    </div>
  </div>
</div>
</section>
</div>
<div id="loginErrorMessage" class="alert alert-danger fade">
  <a href="" class="close" data-dismiss="alert"></a>
  <i class="glyphicon glyphicon-info-sign text-danger"></i>
  <strong>Note:</strong> Email or passowrd is invalid.
</div>
<style>
  div.tabcontent{
    background-color:white ;
    padding : 30px 40px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  div.tabcontent .row{
     margin-top: 10px;
     margin-bottom: 10px;
  } 
</style>
