<div class="container">
<section>
<div class="container">
<h1 class="page-title">Log In</h1>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form name="loginForm" ng-submit="login()">
      <div class="form-group" 
          ng-class="{'has-error': (loginForm.email.$invalid && loginForm.email.$dirty) ||
                    (loginForm.password.$invalid && loginForm.password.$dirty) }">

        <div class="row">
        <label for="email">Email</label>
        <input class="form-control" type="email" required 
            ng-model="user.email" name="email" placeholder="Email">
        <span class="has-error control-label" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
          Email is required.
        </span>      
        </div>
        <div class="row">
        <label for="password">Password</label>      
        <input class="form-control" type="password" required 
            ng-model="user.password" name="password" placeholder="Password"> 
        <span class="has-error control-label" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
          Password is required.
        </span>  
        </div>       
     
      </div>
      <button class="btn btn-primary" ng-disabled="loginForm.$invalid">Log In</button>
    </form>    

  </div>
</div>
</div>
</section>
</div>