<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <form  name="signupForm" ng-submit="register()">
      <div class="form-group" 
          ng-class="{'has-error': (signupForm.email.$invalid && signupForm.email.$dirty) ||
                    (signupForm.password.$invalid && signupForm.password.$dirty) }">

        <div class="row">
        <label for="email">Email</label>
        <input class="form-control" type="email" required 
            ng-model="user.email" name="email" placeholder="Email">
        <span class="has-error control-label" ng-show="signupForm.email.$invalid && signupForm.email.$dirty">
          Email is required.
        </span>      
        </div>
        <div class="row">
        <label for="password">Password</label>      
        <input class="form-control" type="password" required 
            ng-model="user.password" name="password" placeholder="Password"> 
        <span class="has-error control-label" ng-show="signupForm.password.$invalid && signupForm.password.$dirty">
          Password is required.
        </span>  
        </div>       
     
      </div>
      <button class="btn btn-primary" ng-disabled="signupForm.$invalid">Sign up</button>
  </form>
  </div>
</div>