<div class="container">
<section>
<div class="container">
  <h1 class="page-title">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Sign up
  </h1>
  <hr>
  <div class="tabcontent" >
    <div class="row" style="margin:20px;">
      <div class="col-md-6 col-md-offset-3">
        <form  name="signupForm" ng-submit="register()">
            <div class="form-group" 
                ng-class="{'has-error': (signupForm.email.$invalid && signupForm.email.$dirty) ||
                          (signupForm.password.$invalid && signupForm.password.$dirty) }">

              <div class="row">
              <label for="email">Email</label>
              <input class="form-control" type="email" required 
                  ng-model="user.email" name="email" placeholder="Email">
              <span class="has-error control-label" ng-show="signupForm.email.$invalid && signupForm.email.$dirty">
                Email is required.
              </span>      
              </div>
              <div class="row">
              <label for="password">Password</label>      
              <input class="form-control" type="password" required 
                  ng-model="user.password" name="password" placeholder="Password"> 
              <span class="has-error control-label" ng-show="signupForm.password.$invalid && signupForm.password.$dirty">
                Password is required.
              </span>  
              </div>       
           
            </div>
            <div class="row">
              <button class="btn btn-primary" ng-disabled="signupForm.$invalid">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Sign up
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
</div>
<div id="signUpErrorMessage" class="alert alert-danger fade">
  <a href="" class="close" data-dismiss="alert"></a>
  <i class="glyphicon glyphicon-info-sign text-danger"></i>
  <strong>Note:</strong> {{user.email}} already exists.
</div>
<style>
  div.tabcontent{
    background-color:white ;
    padding : 30px 40px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  div.tabcontent .row{
     margin-top: 10px;
     margin-bottom: 10px;
  } 
</style>