<div class="container">
<section>
<div class="container">
  <div class="center jumbotron">
    <h1 class="page-title">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      Forbidden!
    </h1>    
    <h3>
        Sorry, you are not allowed to access the page.
    </h3>
  	<section style="padding-bottom:20px;">
  	  <p>
        Please 
        <a ui-sref="Login" ui-sref-active="active" style="text-decoration:none;">
          <i class="fa fa-sign-in" aria-hidden="true"></i> 
          Log in
        </a> to perform this action.</p>
  	  <p>
        New user? 
        <a href="/#/Signup" style="text-decoration:none;">
          <i class="fa fa-user-plus" aria-hidden="true"></i>  
          Sign up here!
        </a>
      </p>
  	</section>   
  </div>
  </div>
</section>
</div>
