
<!-- Services Section -->
<section id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Services</h2>
              <h3 class="section-subheading text-muted">Our solution will allow users to track how much money they spent in a certain category over a specific number of months, as well as start a group which others can be invited to join, and this will allow group admins to see reports for the group.</h3>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">E-Receipts</h4>
              <p class="text-muted">Allow people to record transactions without receipts using a single button to let users keep track of small, regularly occurring expenses </p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Manage Online</h4>
              <p class="text-muted">Organize data with categories and let the user view reports based on these categories and time </p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Report & Chart</h4>
              <p class="text-muted">Generate different styles of graphs and charts to satisfy different users’ preferences for how they like to view their data </p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center" style="margin-top:50px;">
              <h3 class="section-subheading text-muted">Receipt Keeper will be built to work on Android devices and will also include a web app.  The mobile application will make it easier for people to manage categories, tags and reports while having the convenience of scanning receipts wherever they are.  The web application will provide the list of receipts and show graphs to visualize user’s spendings.</h3>
          </div>
      </div>      
  </div>
</section>
<style>
.fa-4x {
  font-size: 5em;
}
</style>
<!-- Technologies Section -->
<div class="bg-light-gray">
<div class="container">
<section id="Tech">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Technologies</h2>
              <h3 class="section-subheading text-muted">What technologies we used.</h3>
          </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/loopback1.png" alt="">
              </span>
              <h4 class="tech-heading">LoopBack</h4>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/angular-logo.png" alt="">
              </span>
              <h4 class="tech-heading">Angular</h4>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/nodejs.png" alt="">
              </span>
              <h4 class="tech-heading">NodeJs</h4>
            </div> 
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/github.png" alt="">
              </span>
              <h4 class="tech-heading">GitHub</h4>
            </div>            

            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/bootstrap.png" alt="">
              </span>
              <h4 class="tech-heading">BootStrap</h4>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/heroku-logo.png" alt="">
              </span>
              <h4 class="tech-heading">Heroku</h4>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/mongodb.png" alt="">
              </span>
              <h4 class="tech-heading">mongDB</h4>
            </div> 
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/html5.png" alt="">
              </span>
              <h4 class="tech-heading">HTML5</h4>
            </div>            
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/css3.jpg" alt="">
              </span>
              <h4 class="tech-heading">CSS3</h4>
            </div> 

            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/android.png" alt="">
              </span>
              <h4 class="tech-heading">Android</h4>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/jquery.png" alt="">
              </span>
              <h4 class="tech-heading">JQuery</h4>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/javascriptlogo.png" alt="">
              </span>
              <h4 class="tech-heading">JavaScript</h4>
            </div> 
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/fontawesome.png" alt="">
              </span>
              <h4 class="tech-heading">Font Awesome</h4>
            </div>            
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/googlefont.png" alt="">
              </span>
              <h4 class="tech-heading">Google Font</h4>
            </div> 
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/TextFairy.png" alt="">
              </span>
              <h4 class="tech-heading">Text Fairy</h4>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="images/tech/SQLite.png" alt="">
              </span>
              <h4 class="tech-heading">SQLite</h4>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="" alt="">
              </span>
              <h4 class="tech-heading"></h4>
            </div> 
            <div class="col-md-3 col-sm-4 col-xs-6">
              <span class="fa-stack fa-4x">
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <img class="img-circle img-responsive" src="" alt="">
              </span>
              <h4 class="tech-heading"></h4>
            </div>            
        </div>          

    </div>    
</section>
</div>
</div>

<div class="container">
    <!-- Process Section -->
    <section id="Process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Process</h2>
                    <h3 class="section-subheading text-muted">Receipt Keeper is composed of three components; mobile application, web client application, and web server. The mobile application will be built in Android Studio version 2, and will use an open source O.C.R. based on the Tesseract project</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/1.jpg" alt="Plan/ Design">
                            </div>
                            <div class="timeline-panel">
                                <div class="process-heading">
                                    <h4>May 2016</h4>
                                    <h4 class="subheading">Plan/ Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The web client application will be developed using Angular framework, which is useful for development of single page web app with MVC pattern. Additionally, javascript libraries for uploading image files and visualizing spending will be used</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/2.jpg" alt="Implementation">
                            </div>
                            <div class="timeline-panel">
                                <div class="process-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">Implementation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The web server application will be implemented on the Loopback framework, and some node modules. LoopBack is an open source framework supported by IBM and will save a lot of time for implementing and managing the API sets. More details about the comparison between BAAS (Backend As A Service) </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/3.jpg" alt="Implementation/ Test">
                            </div>
                            <div class="timeline-panel">
                                <div class="process-heading">
                                    <h4>July 2016</h4>
                                    <h4 class="subheading">Implementation/ Test</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Additionally, for saving data, Mongo DB will be used. To run the application, DAAS (database as a service) is needed. Among the service providers considered, Mongolab will be used because they provide 500MB of storage space for free which will be enough space during the development phase.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/4.jpg" alt="Deployment">
                            </div>
                            <div class="timeline-panel">
                                <div class="process-heading">
                                    <h4>August 2016</h4>
                                    <h4 class="subheading">Deployment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finally, for project management, a GitHub private repository will be used. This will be used not only for source code management, but also managing documents, the project schedule and sharing knowledge within the team - all of this will be fulfilled with GitHub</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Launch
                                    <br>Receipt
                                    <br>Keeper !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="bg-light-gray">
<div class="container">
<!-- Team Section -->
<section id="team" style="padding-bottom:60px;padding-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Here are our awesume team members! </h3>
            </div>
        </div>

        <div class="row">
        <style>
            .member-img {            
              display: block;
              max-width: 80%;
              height: auto;
            }
            .member-txt{
                color: #777;
                list-style-type: none;
                padding:0;
            }
        </style>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/team/ChanghoChoi.jpg" class="member-img img-circle" alt="">
                    <h4>ChangHo Choi</h4>
                    <ul class="member-txt">
                        <li>Mobile Developer</li>
                        <li> (Mobile/ Web Sync.)</li>
                    </ul>
                    <ul class="list-inline social-buttons">
                        <!--
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        -->
                        <li>
                          <a href="https://www.linkedin.com/in/changhochoi" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>        
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/team/HassanNahhal.jpg" class="member-img img-circle" alt="">
                    <h4>Hassan Nahhal</h4>
                    <ul class="member-txt">
                        <li>Mobile Developer</li>
                        <li> (UI/ Back-End)</li>
                    </ul>
                    <ul class="list-inline social-buttons">
                        <li>
                          <a href="https://www.linkedin.com/in/hassannahhal" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/team/NicholasCollins.jpg" class="member-img img-circle" alt="">
                    <h4>Nicholas Collins</h4>
                    <ul class="member-txt">
                        <li>Mobile Developer</li>
                        <li> (OCR/ Front-End)</li>
                    </ul>
                    <ul class="list-inline social-buttons">
                        <li>
                          <a href="https://ca.linkedin.com/in/nicholasmcollins" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="images/team/SungjoeKim.jpg" class="member-img img-circle" alt="">
                    <h4>SungJoe Kim</h4>
                    <ul class="member-txt">
                        <li>Web Developer</li>
                        <li> (UI/ Front/ Back-End)</li>
                    </ul>
                    <ul class="list-inline social-buttons">
                        <li>
                          <a href="https://www.linkedin.com/in/sungjoekim" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-muted">Our team is in progress of Mobile Solutions Development Graduate Program (Co-op) at Conestoga College. Receipt Keeper is our final term Capstone Project</p>
            </div>
        </div>
    </div>
</section>
</div>
</div>
