<h1>{{ action }} Receipt</h1>
<hr>
<form name="receiptForm" novalidate>
 	<div class="form-group" >
 		<div class="row">
		  	<label class="col-sm-2 control-label">Store name</label>
		  	<div class="col-sm-4">
		  		<select  class="form-control" 
		  			ng-change="getStoreCategories(null, null)" 
		  			ng-disabled="isDisabled"  
		  			ng-model="selectedStore" 
		  			ng-options="store as store.name for store in stores">
	  				<option value="" disabled selected hidden>Plase Choose...</option>
	  			</select>
		  	</div>
		  	<label class="col-sm-2 control-label" style="text-align:right;">Category</label>
		  	<div class="col-sm-4">
		  		<select  class="form-control" 
		  			ng-model="selectedCategory" 
		  			ng-options="category as category.name for category in categories">
	  				<option value="" disabled selected hidden>Plase Choose...</option>
	  			</select>
		  	</div>		  	
	  	</div>
		<!-- date picker -->
	    <div class="row">
	    	<label class="col-sm-2 control-label">Date</label>
	        <div class='col-sm-4'>
	            <div class="form-group">
	                <div class='input-group date' id='receiptdate'>
	                    <input type='text' class="form-control" ng-model="receipt.date">
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar" ng-click="openCalendar()"></span>
	                    </span>
	                </div>
	            </div>
	        </div>
			<div class="col-sm-offset-2 col-sm-2">
				<button class="btn btn-default" ng-click="newItem()">Add Item</button>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-warning" ng-click="spliceItem()" ng-disabled="delDisabled">Del Item</button>
			</div>			

			<div class="col-sm-offset-2 col-sm-10">
			<hr style="margin-top:0">
			</div>
		</div>	  	
		<div ng-repeat="item in items">
			<div class="row">
			  	<label class="col-sm-2 control-label">Item name</label>
			  	<div class="col-sm-4">
				    <input type="text" class="form-control" 
				    	ame="itemname" placeholder="Item name" ng-model="item.name">
			    </div>

			    <label class="col-sm-2 control-label" style="text-align:right;">Item price</label>
			    <div class="col-sm-4">
			    	<div class="input-group">
			    	<div class="input-group-addon">$</div>
			    	<input type="number" class="form-control" ng-change="changePrice()" 
			    		name="itemprice" placeholder="Item price" ng-model="item.price">
			    	</div>
			    </div>
		    </div>
		</div>

		<div class="row">
			<label class="col-sm-2 control-label">Total Price</label>
			<div class="col-sm-4">
		    	<div class="input-group">
			    	<div class="input-group-addon">$</div>
					<input type="number" class="form-control" name="total" 
						placeholder="Total Price" disabled="true" 
						ng-model="receipt.total">  
				</div>
			</div>
			<label class="col-sm-2 control-label" style="text-align:right;"># Items</label>
			<div class="col-sm-4">
				<input type="number" class="form-control" name="numberOfItem" 
					placeholder="Number of item" disabled="true"
					ng-model="receipt.numberOfItem">      
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-10">
			<hr style="margin-top:0">
			</div>		
			<label class="col-sm-2 control-label">Comment</label>
			<div class="col-sm-4">
				<textarea class="form-control" name="comment" rows="4" maxlength="140" 
					placeholder="Comment" ng-model="receipt.comment"></textarea> 
			</div>

			<div class="col-sm-2 control-label" style="text-align:right;">
		  	<label>Tag</label>
		  	<br><span style="text-align:center;">{{selTagCount}}</span>
		  	</div>
		  	<div class="col-sm-4">
		  		<select multiple size=5 ng-multiple="true" ng-click="countSelectedTag()"
		  			ng-model="selectedTags" class="form-control" 
		  			ng-options="tag as tag.name for tag in tags"></select>
		  	</div>

		</div>
		<div class="row">
			<div  class="col-sm-offset-2 col-sm-2">
				<button class="btn btn-primary"  ng-click="submitForm()"
					ng-disabled="delDisabled">{{ action }} Receipt</button>
			</div>
			<div  class="col-sm-2">
				<button class="btn btn-default"  ui-sref="Receipts">Receipts</button>
			</div>	
			<div ng-show="receipt.id" class="col-sm-offset-2 col-sm-4">
				<button class="btn btn-danger" ng-click="delReceipt()">Delete Receipt</button>
			</div>						
		</div>
	</div>		
</form>
