<div class="container">
<section style="padding-bottom:60px;">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title">
                <i class="fa fa-bar-chart" aria-hidden="true"></i> 
                {{groupName}} Charts
            </h1>
            <hr>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id="chart">
        <div class="row">
            <div class="col-sm-6" id="monthly-chart">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <i class="fa fa-usd" aria-hidden="true"></i> 
                        {{thisYear}} Monthly consumption 
                        <select class="form-inline"  
                            style="width:100px;margin-bottom:0;margin-left:10px;"  
                            ng-change="changRangeOfMonth()" 
                            ng-model="selectedMonth"
                            ng-options="month.name for month in twelvemonths">
                            <option value="" disabled selected hidden>Range...</option>
                        </select>    
                        <span class="pull-right" style="cursor:pointer;" 
                            ng-click="generatePDF('monthly-chart', 'line')"
                             tooltip-html-unsafe="Export PDF">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </span>            
                    </div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="false"
                        click="line.onClick" series="line.series"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="comparison-chart">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-usd" aria-hidden="true"></i> 
                        Comparison of {{thisYear-1}} (monthly)
                        <span class="pull-right" style="cursor:pointer;" 
                            ng-click="generatePDF('comparison-chart', 'bar')"
                             tooltip-html-unsafe="Export PDF">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                        options="bar.options"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6" id="tag-tendency-chart">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-percent" aria-hidden="true"></i> 
                        Tag Tendency ({{thisYear}}/ {{selectedMonth.name}})
                        <span class="pull-right" style="cursor:pointer;" 
                            ng-click="generatePDF('tag-tendency-chart', 'radar')"
                             tooltip-html-unsafe="Export PDF">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </span>                     
                    </div>
                    <div class="panel-body">
                        <canvas id="radar" class="chart chart-radar" data="radar.data" labels="radar.labels"></canvas>
                    </div>
                </div>
            </div> 
            <div class="col-lg-6 col-sm-6" id="store-amount-chart">
                <div class="panel panel-warning"> 
                    <div class="panel-heading">
                        <i class="fa fa-usd" aria-hidden="true"></i> 
                        Store Amount ({{thisYear}}/ {{selectedMonth.name}})
                        <span class="pull-right" style="cursor:pointer;" 
                            ng-click="generatePDF('store-amount-chart', 'polararea')"
                             tooltip-html-unsafe="Export PDF">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </span>                     
                    </div>
                    <div class="panel-body">
                        <canvas id="polararea" class="chart chart-polar-area" data="polararea.data" labels="polararea.labels" ></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-4" id="doughnut-chart">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <i class="fa fa-percent" aria-hidden="true"></i> 
                        Category ({{thisYear}}/{{selectedMonth.name}})                     
                    </div>
                    <div class="panel-body">
                    <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4" id="pie-chart">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <i class="fa fa-percent" aria-hidden="true"></i> 
                        Store ({{thisYear}}/ {{selectedMonth.name}})                     
                    </div>
                    <div class="panel-body">
                        <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4" id="doughnut1-chart">
              <div class="panel panel-red">
                <div class="panel-heading">
                    <i class="fa fa-percent" aria-hidden="true"></i> 
                    Tag ({{thisYear}}/ {{selectedMonth.name}})                   
                </div>
                <div class="panel-body">
                  <canvas id="doughnut1" class="chart chart-doughnut chart-xs" data="donut1.data" labels="donut1.labels"></canvas>
                </div>
              </div>
            </div>             
        </div>  

        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>
                        <i class="fa fa-percent" aria-hidden="true"></i> 
                        </strong>
                        Tag Progress Bar ({{thisYear}}/ {{selectedMonth.name}})                       
                    </div>
                    <div class="panel-body" style="padding:15px; color: #4d4d4d">
                        <div class="row" ng-repeat="tag in tagchartpercent">
                            <label class="col-sm-offset-1 col-sm-3 control-label">{{tag.name}}</label>
                            <div class="col-sm-6">
                                <progressbar  
                                    class="progress-striped active" 
                                    value="tag.value" 
                                    max="100" 
                                    type="{{tag.type}}" 
                                     tooltip-html-unsafe="{{tag.value}}%">{{tag.value}}%</progressbar>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div> 

    <div id="noChart" style="visibility:none;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Chart</strong>
                    </div>
                    <div class="panel-body">
                        You have no receipt information yet.
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="row">
        <div ng-show="groupName" class="col-sm-3">
            <button class="btn btn-default" ng-click="viewGroup()">View Group</button>
        </div>
        <div ng-show="groupName" class="col-sm-3">
            <button class="btn btn-default" ui-sref="Groups">Groups</button>
        </div>
    </div>
</div>
</section>
</div>